.aboutme {
    padding-top: 120px;
    min-height: 100vh;
    &__img {
        grid-area: my_photo;
        width: 100%;
        object-fit: cover;
    }
    &__main {
        padding-top: 5px;
        grid-area: main_text;
    }
    &__title {
        position: relative;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_cercle; 
    }
    &__descr-main {
        margin-top: 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    &__skills {
        grid-area: skills;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-auto-rows: 1fr;
        height: 252px;

    }
    &__skill {
        position: relative;
        display: flex;
        column-gap: 50px;
        row-gap: 20px;
        padding-left: 60px;    
    }
    &__icon {
        position: absolute;
        top: 22px;
        left: 16px;
        @include before_cercle_for_img;
    }
    &__text-skill {
        width: 200px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        span {
            line-height: 35px;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-rows: minmax(245px, auto);
        grid-template-columns: 400px 570px;
        grid-template-areas:
        'my_photo main_text'
        'my_photo skills';
        column-gap: 70px;
        row-gap: 40px;
    }
}